<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/nameTemplate.js') }}"></script>
    <title>STROM</title>
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>STROM</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Stroms</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="container">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="nameInput">Name your template</label>
          <input type="text" class="form-control" id="nameInput" placeholder="name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    </div>
  </body>
</html>
