<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom Scroller Js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <link rel="stylesheet" href="../static/css/custom.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/nameTemplate.js') }}"></script>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/navbar.js') }}"></script>
    <title>STROM</title>
  </head>
  <body>

    <div class="wrapper">
      <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>STROM</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="http://www.tura.io">About</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Stroms</a></li>
        </ul>
      </nav>

      <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
      </div>

      <div class="container">
          <div class="jumbotron">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label for="nameInput">Name D-stream</label>
                  <input type="text" class="form-control" id="nameInput" placeholder="template1">
                </div>
                <div class="col-sm-6">
                  <label for="descriptionInput">Description</label>
                  <input type="text" class="form-control" id="descriptionInput" placeholder="template1 will ...">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label for="sourceInput">Stream source/s</label>
                  <input type="text" class="form-control" id="sourceInput" placeholder="Mac Adress 08:00:27:e0..">
                </div>
                <div class="col-sm-6">
                  <label for="sourceKeyInput">Source key</label>
                  <input type="text" class="form-control" id="sourceKeyInput" placeholder="..specific source">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="measureInput">Measures</label>
                  <input type="text" class="form-control" id="measureInput" placeholder="Measure1">
                </div>
                <div class="col-sm-3">
                  <div class="dropdown" id="measureDataInput">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Data Type
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Int</a></li>
                      <li><a href="#">Float</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="filterInput">Filters</label>
                  <input type="text" class="form-control" id="filterInput" placeholder="this will be a list of filters">
                </div>
                <div class="col-sm-3">
                  <label for="derivativeParams">Derived params</label>
                  <input type="text" class="form-control" id="derivativeParams" placeholder="..left, right">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label for="fieldInput">Fields</label>
                  <input type="text" class="form-control" id="fieldInput" placeholder="add field">
                </div>
                <div class="col-sm-3">
                  <div class="dropdown" id="storageInput">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Storage
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">raw</a></li>
                      <li><a href="#">filtered</a></li>
                      <li><a href="#">derivatived</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="tagInput">Tag</label>
                  <input type="text" class="form-control" id="tagInput" placeholder="this will be a list of filters">
                </div>
                <div class="col-sm-3">
                  <label for="eventInput">Event</label>
                  <input type="text" class="form-control" id="eventInput" placeholder="make device do something">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Set</button>
          </form>
          <br><br>
          <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
          <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>
      </div>
    </div>
  </body>
</html>
