<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/nameTemplate.js') }}"></script>
    <title>STROM</title>
  </head>
  <body>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="nameInput">Name D-stream</label>
          <input type="text" class="form-control" id="nameInput" placeholder="eg:template1">
        </div>
        <div class="form-group">
          <div class="dropdown" id="dataInput">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Data Type
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Int</a></li>
              <li><a href="#">Float</a></li>
            </ul>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    </div>
  </body>
</html>
